* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body {
  display: flex;
  align-items: center;
  background: #ebeae8;
  height: 100vh;
}
main {
  margin: 0 auto;
  width: 70vw;
}
.container {
  /* height: 80vh; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  gap: 2em;
}
img {
  width: 100%;
}
.slider {
  /* margin-bottom: 2em; */
}
.section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.control-default {
}
