* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

body {
  background: #ebeae8;
  height: 100vh;
}
main {
  margin: 0 auto;
  width: 65vw;
  /* height: 80%; */
}
.container {
  /* width: 100%; */
  /* height: 50%; */
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 2em;
}
.slider {
  width: 400%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s all linear;
}
.pic {
  width: 25%;
  height: 70vh;
}
img {
  /* display: block; */
  width: 100%;
  height: 100%;
}

.buttons {
  gap: 0.5em;
}
.section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}
.control-default {
  display: none;
}
label {
  display: flex;
}
/* .slider {
  transform: translateX(-25%);
} */
.control-midified {
  display: block;
  width: 1em;
  height: 1em;
  background: blue;
  border-radius: 50%;
  /* border: 10px solid #ebeae8; */
}
.wrapper-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  background: #ebeae8;
}
.control-midified::before {
  content: "";
  width: 1em;
  height: 1em;
  background: red;
  border-radius: 50%;
  display: none;
}

.wrapper-control:hover .control-midified {
  background: white;
}
#b1:checked ~ .section #C1 {
  background: #ebeae8;
}
#b2:checked ~ .section #C2 {
  background: #ebeae8;
}
#b3:checked ~ .section #C3 {
  background: #ebeae8;
}
#b4:checked ~ .section #C4 {
  background: #ebeae8;
}
#b1:checked ~ .slider {
  transform: translateX(0);
}
#b2:checked ~ .slider {
  transform: translateX(-25%);
}
#b3:checked ~ .slider {
  transform: translateX(-50%);
}
#b4:checked ~ .slider {
  transform: translateX(-75%);
}
@media (width <= 600px) {
  .section {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  img {
    max-height: 40vh;
  }
  .meme-text {
    align-self: start;
  }
}

/* test area  */

/* .test-container {
  margin: 0 auto;
}
label {
  display: block;
  width: 1em;
  height: 1em;
  background: red;
  margin: 1em;
}

#r2:checked ~ .pic1 {
  display: none;
} */
